<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= @flat.image_url %>);">
</div>
<div class="container">
  <div class="card-product">
    <%= image_tag @flat.image_url %>
    <div class="card-product-infos">
      <h2><%= @flat.name %></h2>
      <h2><%= @flat.address %></h2>
      <h2><%= @flat.description %></h2>
    </div>
  </div>
</div>
<div>
  <%= @flat.price_per_night %>
  <%= @flat.number_of_guests %>
</div>
<%= link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
